h2 {
 margin: 
}

p {
 margin: 0;
}

button {
 font-size: 18px;
 background-color: purple;
 color: white;
 border-radius: 30px;
 margin: 0;
}

body {
 text-align: center;
}

img {
	border-radius: 10px;
}