img {
 width: 100px;
 height: 100px;
 margin: 10px;
 border: solid olive;
 padding: 5px;
}

h2 {
 background-color: lightGray;
 margin: 10px;
 padding-top: 30px;
 padding-bottom: 10px;
 width: 250px; /* total width in px of content (width+margin+padding+)  */
 border: solid olive;
 text-align: center;
}
